<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Login - FrameWork Padrão" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Teste" %>">
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="login-body">
  <div class="container">
  	<%= yield %>  	
  </div>
</body>
</html>
